requests
tqdm
python-dotenv
sentence-transformers
torch
scikit-learn
numpy
pandas
beautifulsoup4
rank_bm25
num2words
pymorphy3
python-dotenv
openai-whisper
certifi
langchain-groq
langchain-core
fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
bcrypt>=4.0,<6
python-multipart
email-validator